#ssh
.ssh
# log and data files
*.pkl
# kdiff3 backup files
*.orig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**.pyc

# C extensions
*.so

# Distribution / packaging
.idea
.Python
wandb
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
#parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode project settins
.vscode/